<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
        <h4 style="Color:red">Player Registeration</h4>
        <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="card-body">
          <!-- <div class="form-group row">
            <label class="col-sm-3 col=form-label" for="mid">PlayerID</label>
            <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              name="mid"
              [(ngModel)]="mr.PlayerId"
              required
              #mid="ngModel"
            />
            <div class="alert-danger" *ngIf="f.submitted && mid.invalid || mid.touched">
              <div style="Color:red" *ngIf="mid.errors?.['required']">Player ID is required</div>
            </div>
          </div>
          </div> -->
          <div class="form-group row">
            <label class="col-sm-3 col=form-label" for="PlayerName">PlayerName</label>
            <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              name="PlayerName"
              [(ngModel)]="mr.PlayerName"
              required
              #PlayerName="ngModel"
            />
            <div class="alert-danger" *ngIf="f.submitted && PlayerName.invalid || PlayerName.touched">
              <div style="Color:red" *ngIf="PlayerName.errors?.['required'] && !Isreset">Player Name is required</div>
            </div>
          </div>
          </div>

           
       
          <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="Email">Email</label>
              <div class="col-sm-9">
              <input
                type="email"
                class="form-control"
                name="Email"
                [(ngModel)]="mr.Email"
                required
                #Email="ngModel"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              />
              <div class="alert-danger" *ngIf="f.submitted && Email.invalid || Email.touched">
              <div style="Color:red" *ngIf="Email.errors?.['required'] && !Isreset">Email is required</div>
              <div style="Color:red" *ngIf="Email.errors?.['pattern']">Invalid EmailId</div>
            </div>
            </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="Address">Address</label>
              <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="Address"
                [(ngModel)]="mr.Address"
                required
                #Address="ngModel"
              />
              <div class="alert-danger" *ngIf="f.submitted && Address.invalid || Address.touched">
                <div style="Color:red" *ngIf="Address.errors?.['required'] && !Isreset">Address is required</div>
            </div>
              </div>
              </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="Country">Country</label>
              <div class="col-sm-9">
                <!-- <select [(ngModel)]="mr.Country" (change)="onCodeChange($event)">
                  <option *ngFor="let country of countries" [value]="country"> {{ country }} </option>
                </select> -->
    
                <select 
                class="form-control" 
                name="Country"
                [(ngModel)]="mr.Country"
                required
                #Country="ngModel" (change)="onCodeChange($event)">
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                </select>
                <div class="alert-danger" *ngIf="f.submitted && Country.invalid || Country.touched">
                  <div style="Color:red" *ngIf="Country.errors?.['required'] && !Isreset">Country is required</div>
              </div>
              <!-- <div style="Color:red" *ngIf="pid.errors?.['required'] && pid.touched" class="text-danger">PolicyID Required.</div> -->
            </div>
            
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="state">State</label>
              <div class="col-sm-9">
                <!-- <select *ngIf="country" [(ngModel)]="this.playerslist.state" [value]="state">
                  <option *ngFor="let state of states"> {{ state }} </option>
                </select> -->
              <select 
              class="form-control" 
              name="State"
              [(ngModel)]="mr.State"
              required
              #State="ngModel">
              <option>--Please Select--</option> 
              <option *ngFor="let state of this.stateslist"> {{ state }} </option>
              </select>
              <div class="alert-danger" *ngIf="f.submitted && State.invalid || State.touched">
                <div style="Color:red" *ngIf="State.errors?.['required'] && !Isreset">State is required</div>
            </div>
            </div>
              
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="Pan">Pan Card</label>
              <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="Pan"
                [(ngModel)]="mr.Pan"
                required
                #Pan="ngModel"
                pattern="^[a-zA-Z0-9_]*$"
              />
              <div class="alert-danger" *ngIf="f.submitted && Pan.invalid || Pan.touched">
                <div style="Color:red" *ngIf="Pan.errors?.['required'] && !Isreset">Pan Card is required</div>
                <div style="Color:red" *ngIf="Pan.errors?.['pattern']">Pan Card Should not contain any special characters</div>
            </div>
            </div>
              <!-- <div style="Color:red" *ngIf="pid.errors?.['required'] && pid.touched" class="text-danger">PolicyID Required.</div> -->
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="ContactNo">Contact Number</label>
              <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="ContactNo"
                [(ngModel)]="mr.ContactNo"
                required
                #ContactNo="ngModel"
                pattern="[0-9]{10}"
              />
              <div class="alert-danger" *ngIf="f.submitted && ContactNo.invalid || ContactNo.touched">
                <div style="Color:red" *ngIf="ContactNo.errors?.['required'] && !Isreset">Contact Number is required</div>
                <div style="Color:red" *ngIf="ContactNo.errors?.['pattern']">Contact number should be 10 digits</div>
            </div>
            </div>
              <!-- <div style="Color:red" *ngIf="pid.errors?.['required'] && pid.touched" class="text-danger">PolicyID Required.</div> -->
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="Dob">Date of Birth</label>
              <div class="col-sm-9">
              <input
                type="date"
                class="form-control"
                name="Dob"
                [(ngModel)]="mr.Dob"
                required
                #Dob="ngModel"
                (change)="onDatechange($event)"
              />
              <div class="alert-danger" *ngIf="f.submitted && Dob.invalid || Dob.touched">
                <div style="Color:red" *ngIf="Dob.errors?.['required'] && !Isreset">Date of Birth  is required</div>
            </div>
            </div>
            <span id="lblError" style = "color:Red"></span>
              <!-- <div style="Color:red" *ngIf="pid.errors?.['required'] && pid.touched" class="text-danger">PolicyID Required.</div> -->
            </div>
      <div class="form-group">
        <span>
          <button style="background-color: blue;" [disabled]="f.invalid"  class="btn btn-primary">Create Member</button> &nbsp;&nbsp;
          <button style="background-color: blue;"  class="btn btn-primary" (click)="backtonav()">Cancel</button>
        </span>
        

      </div>
           </div>
              
        </form>
      </div>
      </div>
      </div>
  </div>
</div>

      <br>
      <br>
      
  <div class="row">
      <div class="table table-responsive" id="user" >
          <div class="table-responsive" > 
              <table class="table table-striped border"  *ngIf = 'playerslist.length > 0'>
                  <thead >
                  <tr class="table-secondary">
                      <th>PlayerID</th>
                      <th>PlayerName</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th>State</th>
                      <th>Country</th>
                      <th>Pan</th>
                      <th>ContactNo</th>
                      <th>Dob</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let mr of playerslist | paginate: {itemsPerPage: 5,
                  currentPage:p1 ,
                  totalItems: playerslist.length }"> 
                      <td> {{mr.playerId}} </td>
                      <td> {{mr.playerName}} </td>
                      <td> {{mr.email}} </td>
                      <td> {{mr.address}} </td>
                      <td>{{mr.state}} </td>
                      <td>{{mr.country}} </td>
                      <td>{{mr.pan}} </td>
                      <td>{{mr.contactNo}} </td>
                      <td>{{mr.dob | date}} </td>
                      <td class="card-row-action">
                          <a (click)="editPlayer(mr)"><i class="fa-solid fa-edit"></i>
                          </a>
                        </td>
                  </tr>
                  <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </tbody>
              
              </table>
          </div>
      </div>
      
  </div>
  <div class="row" *ngIf = 'playerslist.length == 0'>
    <span style="color: red;">No records found</span>
  </div>
 
  
  <div class="card card-container mycontainer" *ngIf="isEditplayerClicked" >
      <div><h1 style="text-align:center;">Edit Player Details </h1></div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
              <label for="playerId">Player Id</label>
              <input type="text" class="form-control" name="playerId" [(ngModel)]="this.playerslist.playerId" 
                 #playerId="ngModel" disabled />          
            </div>
        <div class="form-group">
          <label for="email">Email Id</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="this.playerslist.email" 
             #email="ngModel"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" /> 
             <div class="alert-danger" *ngIf="f.submitted && email.invalid || email.touched">
              <div style="Color:red" *ngIf="email.errors?.['required']">Email is required</div>
              <div style="Color:red" *ngIf="email.errors?.['pattern']">Invalid EmailId</div>
            </div>         
        </div>
        <div class="form-group">
          <label for="pan">Pan Card</label>
          <input type="text"  class="form-control" name="pan" [(ngModel)]="this.playerslist.pan" required
            #pan="ngModel"  pattern="^[a-zA-Z0-9_]*$" />   
            <div class="alert-danger" *ngIf="f.submitted && pan.invalid || pan.touched">
              <div style="Color:red" *ngIf="pan.errors?.['required']">Pan Card is required</div>
              <div style="Color:red" *ngIf="pan.errors?.['pattern']">Pan Card Should not contain any special characters</div>
          </div> 
        </div>
        <div class="form-group">
            <label for="contactNo">Contact Number</label>
            <input type="text" class="form-control"  name="contactNo"
              [(ngModel)]="this.playerslist.contactNo" required #contactNo="ngModel" 
              pattern="[0-9]{10}" />   
              <div class="alert-danger" *ngIf="f.submitted && contactNo.invalid || contactNo.touched">
                <div style="Color:red" *ngIf="contactNo.errors?.['required']">Contact Number is required</div>
                <div style="Color:red" *ngIf="contactNo.errors?.['pattern']">Contact number should be 10 digits</div>
            </div>     
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col=form-label" for="country">Country</label>
          <div class="col-sm-9">
            <!-- <select [(ngModel)]="this.playerslist.country">
              <option *ngFor="let country of countries" [value]="country"> {{ country }} </option>
            </select> -->

            <select 
            class="form-control" 
            name="country"
            [(ngModel)]="this.mr.Country"
            required
            #Country="ngModel" (change)="onCodeChange($event)">
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="UK">UK</option>
            </select>
            <div class="alert-danger" *ngIf="f.submitted && country.invalid || country.touched">
              <div style="Color:red" *ngIf="country.errors?.['required']">Country is required</div>
          </div>
          </div>
          <!-- <div style="Color:red" *ngIf="pid.errors?.['required'] && pid.touched" class="text-danger">PolicyID Required.</div> -->
        </div>
        
        
        <div class="form-group row">
          <label class="col-sm-3 col=form-label" for="State">State</label>
          <div class="col-sm-9">
            <!-- <select *ngIf="country" [(ngModel)]="this.playerslist.state" [value]="state">
              <option *ngFor="let state of states"> {{ state }} </option>
            </select> -->
          <select 
          class="form-control" 
          name="state"
          [(ngModel)]="this.mr.State"
          required
          #state="ngModel">
          <option *ngFor="let state of this.updatestateslist" [value]="state">
            {{ state }}
           </option>
          </select>
          <div class="alert-danger" *ngIf="f.submitted && state.invalid || state.touched">
            <div style="Color:red" *ngIf="state.errors?.['required']">State is required</div>
        </div>
        </div>
          <div class="alert-danger" *ngIf="f.submitted && state.invalid">
            <!-- <div style="Color:red" *ngIf="policystatus.errors?.['required']">Policy Status is required</div> -->
          </div>
        </div>
       
       
        <div class="form-group"> 
          <span>
            <button class="btn btn-primary" style="background-color: blue;" (click)="onEditPlayer(this.playerslist)">Edit</button> &nbsp;&nbsp;
          </span>
         
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isCreateplayerFailed">
          Player edit failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Player is edited successfully!
      </div>

</div>
