<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
          <h3 style="text-align: center; color:violet" class="card-title">Register your Details</h3>
          <form  #f="ngForm">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-sm-3 col=form-label" for="firstname">FirstName</label>
                <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="firstname"
                  [(ngModel)]="user.firstname"
                  required
                  #firstname="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && firstname.invalid || firstname.touched">
                  <div style="Color:red" *ngIf="firstname.errors?.['required']">FirstName is required</div>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col=form-label" for="lastname">LastName</label>
                <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  [(ngModel)]="user.lastname"
                  required
                  #lastname="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && lastname.invalid || lastname.touched">
                  <div style="Color:red" *ngIf="lastname.errors?.['required']">LastName is required</div>
                </div>
              </div>
              </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="username">UserName/EmailId</label>
              <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="email"
                [(ngModel)]="user.email"
                required
                #email="ngModel"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                
              />
              <div class="alert-danger" *ngIf="f.submitted && email.invalid || email.touched">
                <div style="Color:red" *ngIf="email.errors?.['required']">EmailId is required</div>
                <div style="Color:red" *ngIf="email.errors?.['pattern']">Invalid EmailId</div>
              </div>
            </div>
          </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="password">Password</label>
              <!-- pattern="^(?=.*[A-Z])(?=.*\\d)$" -->
              <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="password"
                [(ngModel)]="user.password"
                required
                minlength="8"
                #password="ngModel"
              />
              <div class="alert-danger" *ngIf="f.submitted && password.invalid || password.touched">
                <div style="Color:red" *ngIf="password.errors?.['required']">
                  Password is required</div>
                <div *ngIf="password.errors?.['minlength']">
                  Password must be at least 8 characters
                </div>
                <!-- <div  style="Color:red" *ngIf="password.errors?.['pattern']">
                   Password should contain atleast one Uppercase and one digit 
                </div> -->
              </div>
            </div>
          </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="Dob">Date of Birth</label>
              <div class="col-sm-9">
              <input
                type="date"
                class="form-control"
                name="Dob"
                [(ngModel)]="user.dateofbirth"
                required
                #Dob="ngModel"
                (change)="onDatechange($event)"
              />
              <div class="alert-danger" *ngIf="f.submitted && Dob.invalid || Dob.touched">
                <div style="Color:red" *ngIf="Dob.errors?.['required']">Date of birth  is required</div>
            </div>
            </div>
            <span id="lblError" style = "color:Red"></span>
              <!-- <div style="Color:red" *ngIf="pid.errors?.['required'] && pid.touched" class="text-danger">PolicyID Required.</div> -->
            </div>
         
            <br>
            <br>
        
        <div class="form-group">
          <!-- <a href='member'  type="button" class="btn btn-primary btn-block" (click)="onSubmit(f)" >Register</a> -->
          <button   class="btn btn-primary" 
          (click)="onSubmit(f)" [disabled]="f.invalid">Register</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </div>
              
    </form>
  </div>
  </div>
  </div>
</div>
</div>

